In [63]:
import pandas as pd
import numpy as np

In [64]:
data = pd.read_csv('data/보건복지부_공공보건 의료기관 현황.csv', encoding='CP949')
addr = pd.DataFrame(data['주소'].apply(lambda x : x.split()[:2]).to_list(), columns=['시도', '군구'])

addr.head()

    시도   군구
0  강원도  춘천시
1  강원도  삼척시
2  강원도  영월군
3  강원도  원주시
4  강원도  강릉시

In [65]:
addr.loc[addr['시도'] == '창원시']
addr.iloc[27] = ['경상남도', '창원시']
addr.iloc[31] = ['경상남도', '창원시']

addr['시도'].value_counts()

경기도        31
강원도        20
전라남도       19
경상북도       19
서울특별시      16
경상남도       15
충청남도       10
전라북도       10
대전광역시      10
부산광역시       9
대구광역시       9
광주광역시       8
충청북도        8
경남          7
인천광역시       7
제주특별자치도     5
서울시         5
경북          3
충북          2
충남          2
전남          2
경기          2
전북          2
천안시         2
경산시         1
대전시         1
울산광역시       1
부산특별시       1
Name: 시도, dtype: int64

In [66]:
addr.loc[addr['시도'] == '경산시']
addr.iloc[47] = ['경상북도', '경산시']

addr['시도'].value_counts()

경기도        31
강원도        20
경상북도       20
전라남도       19
서울특별시      16
경상남도       15
충청남도       10
전라북도       10
대전광역시      10
부산광역시       9
대구광역시       9
광주광역시       8
충청북도        8
인천광역시       7
경남          7
서울시         5
제주특별자치도     5
경북          3
충북          2
충남          2
전남          2
경기          2
전북          2
천안시         2
대전시         1
울산광역시       1
부산특별시       1
Name: 시도, dtype: int64

In [67]:
addr.loc[addr['시도'] == '천안시']
addr.iloc[209] = ['충청남도', '천안시']
addr.iloc[210] = ['충청남도', '천안시']

In [68]:
goongoo_alias = {'경남' : '경상남도', '서울시' : '서울특별시', '경북' : '경상북도', '충북' : '충청북도', '충남' : '충청남도', 
                 '전남' : '전라남도', '경기' : '경기도', '전북' : '전라북도', '대전시' : '대전광역시', '부산특별시' : '부산광역시',
                 '강원도' : '강원특별자치도'}

addr['시도'] = addr['시도'].apply(lambda x : goongoo_alias.get(x, x))

addr['시도'].value_counts()

경기도        33
경상북도       23
경상남도       22
전라남도       21
서울특별시      21
강원특별자치도    20
충청남도       14
전라북도       12
대전광역시      11
부산광역시      10
충청북도       10
대구광역시       9
광주광역시       8
인천광역시       7
제주특별자치도     5
울산광역시       1
Name: 시도, dtype: int64

In [69]:
addr.loc[addr['군구'] == '아란13길']
addr.iloc[75] = ['제주특별자치도', '제주시']
addr.loc[addr['군구'] == '동매로']
addr.iloc[155] = ['부산광역시', '사하구']

addr['군구'].unique()

array(['춘천시', '삼척시', '영월군', '원주시', '강릉시', '속초시', '정선군', '수원시', '이천시',
       '안성시', '의정부시', '포천시', '파주시', '용인시', '평택시', '시흥시', '여주시', '남양주시',
       '동두천시', '안산시', '부천시', '통영시', '사천시', '창원시', '김해시', '양산시', '거창군',
       '남해군', '의령군', '포항시', '김천시', '안동시', '울진군', '경주시', '구미시', '영주시',
       '상주시', '문경시', '경산시', '의성군', '청도군', '고령군', '칠곡군', '봉화군', '울릉군',
       '부평구', '북구', '순천시', '대덕구', '태백시', '동해시', '화성시', '광산구', '남구', '중구',
       '제주시', '서구', '전주시', '진주시', '청주시', '종로구', '성남시', '동구', '화순군', '강동구',
       '사상구', '달서구', '해운대구', '유성구', '가평군', '양주시', '고양시', '홍천군', '양구군',
       '청원군', '계룡시', '논산시', '함평군', '양평군', '수성구', '달성군', '연수구', '노원구',
       '기장군', '공주시', '강북구', '광진구', '나주시', '창녕군', '목포시', '고흥군', '연제구',
       '사하구', '서초구', '은평구', '중랑구', '강남구', '동작구', '동대문구', '양천구', '성동구',
       '송파구', '울주군', '계양구', '옹진군', '보성군', '광양시', '영광군', '무안군', '진도군',
       '강진군', '곡성군', '여수시', '신안군', '장성군', '완주군', '부안군', '정읍시', '남원시',
       '군산시', '고창군', '진안군', '서귀포시', '천안시', '보령시', '서산시', '서천군', '홍성군',
       '제천시', '충주시', '영동군', '단양군'], dtype=object)

In [105]:
addr['시도군구'] = addr.apply(lambda x : x['시도'] + " " + x['군구'], axis = 1)
addr['count'] = 0
addr_groupby = pd.DataFrame(addr.groupby(by=['시도', '군구', '시도군구'], as_index=False).count())
addr_groupby = addr_groupby.set_index('시도군구')
addr_groupby

                  시도   군구  count
시도군구
강원특별자치도 강릉시  강원특별자치도  강릉시      4
강원특별자치도 동해시  강원특별자치도  동해시      1
강원특별자치도 삼척시  강원특별자치도  삼척시      1
강원특별자치도 속초시  강원특별자치도  속초시      1
강원특별자치도 양구군  강원특별자치도  양구군      1
...              ...  ...    ...
충청북도 영동군        충청북도  영동군      1
충청북도 제천시        충청북도  제천시      1
충청북도 청원군        충청북도  청원군      1
충청북도 청주시        충청북도  청주시      4
충청북도 충주시        충청북도  충주시      2

[140 rows x 3 columns]

In [104]:
population = pd.read_csv('data/행정구역_시군구_별__성별_인구수.csv', encoding='CP949')
population['군구'] = population['군구'].str.strip()
population['군구'].unique()

population['시도군구'] = population.apply(lambda x : x['시도'] + " " + x['군구'], axis = 1)
population = population.loc[population['시도'] != population['군구']].reset_index(drop=True).set_index('시도군구')
population

                   시도    군구     총인구수    남자인구수    여자인구수
시도군구
서울특별시 종로구       서울특별시   종로구  140,032   67,682   72,350
서울특별시 중구        서울특별시    중구  121,482   58,840   62,642
서울특별시 용산구       서울특별시   용산구  216,547  103,993  112,554
서울특별시 성동구       서울특별시   성동구  278,750  135,346  143,404
서울특별시 광진구       서울특별시   광진구  336,446  161,828  174,618
...               ...   ...      ...      ...      ...
경상남도 함양군         경상남도   함양군   37,117   18,013   19,104
경상남도 거창군         경상남도   거창군   60,184   29,607   30,577
경상남도 합천군         경상남도   합천군   41,531   20,239   21,292
제주특별자치도 제주시   제주특별자치도   제주시  492,379  245,974  246,405
제주특별자치도 서귀포시  제주특별자치도  서귀포시  184,110   92,648   91,462

[274 rows x 5 columns]

In [112]:
addr_population = pd.merge(addr_groupby, population[['총인구수', '남자인구수', '여자인구수']], how='inner', on='시도군구')
addr_population

                  시도   군구  count     총인구수    남자인구수    여자인구수
시도군구
강원특별자치도 강릉시  강원특별자치도  강릉시      4  210,122  104,154  105,968
강원특별자치도 동해시  강원특별자치도  동해시      1   88,951   45,203   43,748
강원특별자치도 삼척시  강원특별자치도  삼척시      1   63,086   32,028   31,058
강원특별자치도 속초시  강원특별자치도  속초시      1   82,326   40,773   41,553
강원특별자치도 양구군  강원특별자치도  양구군      1   21,255   11,149   10,106
...              ...  ...    ...      ...      ...      ...
충청북도 단양군        충청북도  단양군      1   27,728   14,119   13,609
충청북도 영동군        충청북도  영동군      1   44,436   22,252   22,184
충청북도 제천시        충청북도  제천시      1  130,858   65,791   65,067
충청북도 청주시        충청북도  청주시      4  851,653  430,330  421,323
충청북도 충주시        충청북도  충주시      2  207,998  105,473  102,525

[139 rows x 6 columns]

In [129]:
data_draw_kor = pd.read_csv('data/data_draw_korea.csv')
data_draw_kor = data_draw_kor.iloc[::, 1::]

data_alias = {'강원도' : '강원특별자치도'}

data_draw_kor['광역시도'] = data_draw_kor['광역시도'].apply(lambda x : data_alias.get(x, x))
data_draw_kor['광역시도'].unique()

array(['강원특별자치도', '경기도', '경상남도', '경상북도', '광주광역시', '대구광역시', '대전광역시',
       '부산광역시', '서울특별시', '세종특별자치시', '울산광역시', '인천광역시', '전라남도', '전라북도',
       '제주특별자치도', '충청남도', '충청북도'], dtype=object)

In [130]:
data_draw_kor['시도군구'] = data_draw_kor.apply(lambda x : x['광역시도'] + " " + x['행정구역'], axis = 1)
data_draw_kor

        인구수 shortName   x   y       면적     광역시도 행정구역         시도군구
0    202520        강릉  11   4  1040.07  강원특별자치도  강릉시  강원특별자치도 강릉시
1     25589    고성(강원)   9   0   664.19  강원특별자치도  고성군  강원특별자치도 고성군
2     86747        동해  11   5   180.01  강원특별자치도  동해시  강원특별자치도 동해시
3     63986        삼척  11   8  1185.80  강원특별자치도  삼척시  강원특별자치도 삼척시
4     76733        속초   9   1   105.25  강원특별자치도  속초시  강원특별자치도 속초시
..      ...       ...  ..  ..      ...      ...  ...          ...
224  127462        제천   8  10   882.47     충청북도  제천시     충청북도 제천시
225   34480        증평   6  11    81.84     충청북도  증평군     충청북도 증평군
226   62809        진천   5  11   406.08     충청북도  진천군     충청북도 진천군
227  790216        청주   6  12   932.51     충청북도  청주시     충청북도 청주시
228  198077        충주   6  10   983.70     충청북도  충주시     충청북도 충주시

[229 rows x 8 columns]